* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #ffffff;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  font-family: "Roboto", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: "wdth" 100;
}

header {
  display: grid;
  grid-template-columns: 1fr 2fr 1fr;
  align-items: center;
  grid-column: 1 / -1;
  height: 100vh;
  width: 100vw;
  background: url(Images/taberna.png) center/cover no-repeat;
}

.apresentar {
  grid-column: 2; /* Texto na coluna central */
  color: white; /* Ajusta conforme a imagem */
  text-align: start;
}

.apresentar h1 {
  font-size: 3rem;
}

.apresentar p {
  font-size: 1.2rem;
  margin-top: 20px;
}

/* Todo o conteúdo vai para a coluna do meio */
nav,
aside,
main,
.menu,
#Contactos,
footer {
  grid-column: 2; /* Coluna central */
  width: 100%;
}

.menu > section {
  width: 100%;
  margin-bottom: 50px;
}

.menu h3 {
  margin-bottom: 10px;
}

.menu p {
  margin-bottom: 5px;
}

.filters-container {
  grid-column: 2;
}

.galeria {
  grid-column: 2;
}

.carousel {
  position: relative;
  width: 100%;
  max-width: 100%;
  margin-top: 15px;
}

.slides {
  display: flex;
  overflow: hidden;
  border-radius: 10px;
  width: 100%;
}

.slides img {
  min-width: 100%;
  width: 100%;
  height: auto;
  object-fit: cover;
  transition: transform 0.4s ease;
}

/* Botões */
button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 1.2rem;
}

button:hover {
  background: #fff;
}
.prev {
  left: 10px;
}
.next {
  right: 10px;
}

/* Indicadores */
.dots {
  display: flex;
  justify-content: center;
  gap: 8px;
  margin-top: 15px;
}

.dot {
  width: 10px;
  height: 10px;
  background: #ccc;
  border-radius: 50%;
  cursor: pointer;
}

.dot.active {
  background: #333;
}
